@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --c1: theme(color.slate.100);
    --c2: theme(color.slate.200);
    --c3: theme(color.slate.300);
    --c9: theme(color.slate.800);
}

@theme {
    --color-c1: var(--c1);
    --color-c2: var(--c2);
    --color-c3: var(--c3);
    --color-c9: var(--c9);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c1: theme(color.slate.800);
        --c2: theme(color.slate.700);
        --c3: theme(color.slate.600);
        --c9: theme(color.slate.300);
    }
    pre {
        scrollbar-color: theme(color.slate.700) theme(color.slate.600);
    }
}

body {
    @apply bg-c1 text-c9;
}

div.preformatted.panel {
    border-width: 0 !important;
}

h1, h2 {
    @apply font-bold text-3xl dark:text-white;
}

a {
    @apply dark:text-blue-300 text-blue-600;
}

.window {
    @apply text-c9 bg-c2 p-4 rounded-md;
}

hr {
    @apply border-gray-300 my-2;
}