@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    color-scheme: light dark;
}

body {
    @apply p-4 dark:bg-slate-800 bg-slate-100 dark:text-slate-300 text-slate-800;
}

div.preformatted.panel {
    border-width: 0 !important;
}

h1, h2 {
    @apply font-bold text-3xl dark:text-white;
}

a {
    @apply dark:text-blue-300 text-blue-600;
}

.window {
    @apply dark:text-white dark:bg-slate-700 bg-slate-200 p-4 rounded-md;
}

hr {
    @apply border-gray-300 my-2;
}

@media (prefers-color-scheme: dark) {
    pre {
        scrollbar-color: theme(color.slate.700) theme(color.slate.600);
        /*&::-webkit-scrollbar {*/
        /*    @apply bg-slate-700 rounded-b-sm;*/
        /*}*/
        /*&::-webkit-scrollbar-thumb {*/
        /*    @apply bg-slate-600 rounded-sm;*/
        /*}*/
    }
}